@inherits LayoutComponentBase

<MudThemeProvider />
    <MudBreakpointProvider>
        <MudDialogProvider />
        <MudSnackbarProvider />

        <MudLayout>
        <div class="login-wrapper">
                @Body
        </div>
        </MudLayout>
    </MudBreakpointProvider>
